# This is a sample .env file for the Mem0 self-hosted MCP. Copy this file to .env and fill in the required values.


# The ADMIN_API_KEY is used to authenticate with the Mem0 MCP admin API.
ADMIN_API_KEY=your_admin_api_key_here

# OpenRouter API key. You can get one for free at https://openrouter.ai.
OPENROUTER_API_KEY=your_open_router_key_here

# Main LLM model to use for the Mem0 MCP. This should be a model supported by OpenRouter. 
# See Supported models in https://openrouter.ai/models
OPENROUTER_LLM_MODEL=minimax/minimax-m2.7

# The embedding model to use for the Mem0 MCP. This should be a model supported by OpenRouter. 
# See Supported models in https://openrouter.ai/models?fmt=cards&output_modalities=embeddings
OPENROUTER_EMBEDDING_MODEL=openai/text-embedding-3-small


# PostgreSQL connection settings. I recommend using the default values exposed here.
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_COLLECTION_NAME=memories

# Neo4j connection settings. I recommend using the default values exposed here.
NEO4J_URI=bolt://neo4j:7687"
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=mem0graph

# Memgraph connection settings. I recommend using the default values exposed here.
MEMGRAPH_URI=bolt://localhost:7687"
MEMGRAPH_USERNAME=memgraph
MEMGRAPH_PASSWORD=mem0graph

# The path where the Mem0 MCP will store its history database.
# This is an internal path on the docker container, not a path on your host machine. 
# You can leave it as is.
HISTORY_DB_PATH=/app/history/history.db